* {
  margin: 0;
  padding: 0; }

body {
  font-size: 15; }

h2 {
  color: blue; }

p {
  color: gray; }

.btn-radius {
  border-radius: 1.25rem;
  background-color: #28a745; }

.header-banner-main {
  background-image: linear-gradient(purple, blue);
  height: 100vh;
  color: white; }

.nav-item .nav-link {
  color: yellow !important;
  margin: 0 20px; }

.nav-item .nav-link:hover {
  font-weight: normal !important; }

.logo-text {
  line-height: 0; }

.investor-main {
  padding: 50px 0; }

.form-control:focus {
  box-shadow: 1px 1px 8px green !important; }
